@font-face {
    font-family: "Poppins";
    src: url(Poppins-Regular.ttf);
}
table {
    margin-top: 50px;
    font-family: "Poppins";
    max-width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
td {
    padding: 15px 50px 15px 50px;
    margin: 0 10px 0 10px;
    background-color: green;
    color: white;
}
.input {
    text-align: center;
}
input {
    padding: 8px;
    margin-top: 10px;
    border: 1px solid #4a8f8d;
    border-radius: 4px;
    font-family: "Poppins";
    text-align: center;
}
button {
    margin-top: 35px;
    background-color: #4a8f8d;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-family: "Poppins";
}
.rendszergazda {
    float: right;
}