h1, h2 {
    text-align: center;
}
.elemnev {
    background-color: #f3f3f3;
    text-align: center;
    font-size: large;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 0px;
}
#elemek {
    display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.elemclass {
    flex: 1 1 30%;
    max-width: 250px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-right: 10px;
    margin-left: 10px;
    align-items: center;
    text-align: center;
    padding: 10px 10px 10px 10px;
}
.imgclass {
    max-width: 150px;
    max-height: 150px;
}
.ara {
    background-color: #e4e0e0;
    text-align: center;
    font-size: medium;
}
.mennyisegmegado {
    text-align: center; 
}
.mennyiseg {
    color: #4a8f8d;
    text-align: center;
}
.mennyisegbuttonok {
    background-color: #4a8f8d;
    color: white;
    border: none;
    font-size: large;
    margin: 0 2px 0px 2px;
}
.kosarbabuttonok {
    background-color: #4a8f8d;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-family: "Poppins";
}
  
.kosarbabuttonok button:hover {
    background-color: #006f5c;
}
.focim {
    margin-top: 30px;
    margin-bottom: 30px;
}