/* kosar.css */
body {
    font-family: 'Poppins', sans-serif; /* Betűtípus Poppins-ra cserélve */
    background-color: #f2f2f2;
    color: #333;
    margin: 0;
    padding: 0;
}

#kosartitle {
    text-align: center;
    font-size: 2rem;
    font-weight: 600; /* Vastagabb szöveg */
    margin: 20px 0;
    color: #4A4A4A;
}

#kosartartalom {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

#kajatablazat {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

#kajatablazat th, #kajatablazat td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #e0e0e0;
}

#kajatablazat th {
    background-color: #FFDD57; /* Sárga fejlécek */
    color: #333;
    font-weight: 600;
}

#kajatablazat td {
    background-color: #fdfdfd;
}

#osszeg {
    font-weight: bold;
    color: #FF5733; /* Narancssárga összeg kiemelés */
}

h3 {
    font-size: 1.5rem;
    color: #4A4A4A;
}

#shipping-address, .megrendelo-name, .megrendelo-email, .megrendelo-telefonszam {
    margin-top: 20px;
}
#shipping-address {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
#shipping-address h2, .megrendelo-name h2, .megrendelo-email h2, .megrendelo-telefonszam h2 {
    font-size: 1.2rem;
    color: #4A4A4A;
}

#shipping-address form, .megrendelo-name input, .megrendelo-email input, .megrendelo-telefonszam input {
    width: 30%;
    padding: 10px;
    margin-top: 8px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
}

#payment-select, #address-select {
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    margin-top: 10px;
}
#address-select {
    width: 80%;
}

#order-button {
    text-align: center;
    margin-top: 30px;
}

#order-button button {
    padding: 15px 30px;
    background-color: #FF5733; /* Narancssárga gomb */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

#order-button button:hover {
    background-color: #FF6F4A; /* Világosabb narancssárga hover effekt */
}

.rendszergazda {
    text-align: center;
    margin-top: 20px;
}

.rendszergazda button {
    background-color: #D9534F; /* Piros gomb */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.rendszergazda button:hover {
    background-color: #E67371; /* Világosabb piros hover effekt */
}
