@font-face {
    font-family: "Poppins";
    src: url(Poppins-Regular.ttf);
}
button {
    margin-top: 35px;
    background-color: #008c72;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-family: "Poppins";
}
.rendelesek {
    text-align: center;
}
h1, h2, h3, p {
    text-align: center;
    font-family: "Poppins";
}
table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: "Poppins";
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: center;
}
table th,
table td {
    padding: 12px 15px;
    text-align: center;
}
table tbody tr {
    border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}