@font-face {
    font-family: "Poppins";
    src: url(Poppins-Regular.ttf);
}
button {
    margin-top: 35px;
    background-color: #008c72;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-family: "Poppins";
}
.rendelesek {
    text-align: center;
}
h1, h2, h3, p {
    text-align: center;
    font-family: "Poppins";
}